@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-back: oklch(0.72 0.11 200);
  --color-gold: #D4AF37;
  --color-darkgreen: #081D0C;
  --color-lightblack: #949494;
  --color-hideout: #DFDBE5;
  /* --color-gradstart: #262626; */
  --color-gradstart: #11421B;
  --color-activetab: #FFA629;
  --font-montserrat: "Montserrat", sans-serif;
}

html, body, #root {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

* {
  font-family: inherit;
}

.kc-module-search-input,
.kc-search-input {
  font-family: "Montserrat", sans-serif !important;
}

.kc-module-search-input::placeholder,
.kc-search-input::placeholder {
  color: rgba(17, 17, 17, 0.55) !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
}
